* {
  margin: 0;
  padding: 10px 10px;
  box-sizing: border-box;
}

img {
  width: 200px;
}

.animals {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
}

img:hover {
  filter: drop-shadow(2px 12px 29px #ffffff);
}
